Package Control*.last-run
Package Control*.ca-list
Package Control.ca-bundle
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Side Bar Folders.sublime-settings
Side Bar Folders/
GoSublime-aux.sublime-settings
GoSublime/
bh_unicode_properties.cache
